<div>

  <h2>Please enter the code from your authenticator app:</h2>

  <%= form_tag([resource_name, :two_factor_authentication], method: :put, data: { turbo: false }) do %>
    <%= text_field_tag :code, '', autocomplete: :off, autofocus: true %>
    <%= submit_tag 'Log in', class: 'button btn-primary' %>
  <% end %>

  <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
</div>
