<h1>Editing source</h1>

<p>
  <strong>Note:</strong>
  Modifing the source_id of a source will not change the records that have already been harvested using this source_id, and is not recommended.
</p>
<%= render 'form' %>


