<h1 class="left">Sources</h1>
<%= link_to 'New Source', new_source_path, class: "button new-right" %>

<table id="sources" class="twelve">
  <thead>
    <tr>
      <th>Source Name</th>
      <th>Source ID</th>
      <th>Partner</th>
    </tr>
  </thead>
  <tbody>
  <% @sources.each do |source| %>
    <tr>
      <td><%= link_to source.name, edit_source_path(source) %></td>
      <td><%= source.source_id %></td>
      <td><%= link_to source.partner.name, edit_partner_path(source.partner) %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br />


