

<div class="eight columns centered">
  <h1><%= t('sources.create_a') %></h1>

  <h5 class="subheader"><%= t('sources.helptext.intro') %></h5>

  <h5 class="subheader"><%= t('sources.helptext.linkchecker_html') %></h5>

  <%= render 'form' %>
</div>