# FOLDERS
.bundle
.git
.gitlab
.github
spec
tmp/*
log/*
!log/.keep
!tmp/pids/.keep
public/packs
public/packs-test
public/system/*
public/uploads/*
coverage
vendor/bundle
storage/*

# FILES
.dockerignore
.gitignore
.gitlab-ci.yml
.rspec
.rubocop.yml
.byebug_history
.ruby-version
.DS_Store
Dockerfile
README.md
yarn.lock
bin/docker-build
config/application.yml
config/application.yml.development
