

// Place all the styles related to the parsers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// parsers/index.html.erb
label.new-right {
  float: right;
  margin-left: 20px;
  position: relative;
  z-index: 100;
}

// others

#preview-modal {
  padding-top: 16px;
  height: 98vh;
}

.parser-tag {
  vertical-align: middle;
}

.spinner {
  text-align: center;
  margin: 54px 0 40px;
}

.new-right.dropdown {
  width: 130px;
}

ul.button-group.harvest-commands li {
  margin-left: 0;
}

.preview-navigation {
  float: right;
  margin-top: 10px;
  margin-left: 10px;
}

.paging_foundation {
  float: right;
}

#parsers_filter {
  float: left;
  text-align: left;
  width: 100%;
  input {
    display: inline-block;
    width: 100%;
  }
  label {
    line-height: 2em;
  }
}
.no-left-padding {
  padding-left: 0;
}

ul.harvest-commands {
  list-style: none;
  margin: 0;
}

ul.parser-actions {
  margin-top: 14px;
  li {
    width: 50%;
  }
}

ul.tagging {
  li {
    width: 50%;
  }
}

.sorting { background: image-url('/images/sort_both.png') no-repeat center right; }
.sorting_asc { background: image-url('/images/sort_asc.png') no-repeat center right; }
.sorting_desc { background: image-url('/images/sort_desc.png') no-repeat center right; }

.sorting_asc_disabled { background: image-url('/images/sort_asc_disabled.png') no-repeat center right; }
.sorting_desc_disabled { background: image-url('/images/sort_desc_disabled.png') no-repeat center right; }

$arrowSize: 18px;

.arrow {
  width: 0;
  height: 0;
  display: inline-block;
  margin-left: 6px;
}

.arrow-right {
  border-top: $arrowSize solid transparent;
  border-bottom: $arrowSize solid transparent;
  border-left: $arrowSize solid $primary-color;
}

.arrow-left {
  border-top: $arrowSize solid transparent;
  border-bottom: $arrowSize solid transparent;
  border-right: $arrowSize solid $primary-color;

  &.disabled {
    border-right: $arrowSize solid $secondary-color;
  }
}
.parser_versions.show .tagging {
  display: inline-block;
  margin-bottom: 14px;
  width: 100%;
}
#parser-versions {
  margin-bottom: 20px;
}
.has-tip:hover, .has-tip:focus {
  color: #333333;
}
.tab-content-fit {
  overflow: scroll;
}
