<h1 class="left"><%= t('snippets.label') %></h1>
<%= link_to t('snippets.create'), new_snippet_path, class: "button new-right" %>

<table class="twelve">
  <thead>
    <tr>
      <th><%= t('name') %></th>
    </tr>
  </thead>

  <tbody>

    <% @snippets.each do |snippet| %>
    <tr>
      <td><%= link_to snippet.name, edit_snippet_path(snippet) %></td>
    </tr>
    <% end %>
  </tbody>
</table>