

<%= simple_form_for @partner, class: 'partner-form' do |f| %>
  <div class="grid-x">
    <div class="medium-12 cell">
      <%= f.input :name %>
    </div>
  </div>

  <div class="grid-x">
    <div class="medium-12 cell">
      <%= f.button :submit, class: 'float-right' %>
    </div>
  </div>

<% end %>
