<%= simple_form_for @partner, class: 'partner-form' do |f| %>
  <div class="row">
    <div class="column twelve">
      <%= f.input :name %>
    </div>
  </div>

  <div class="row">
    <div class="column twelve">
      <%= f.button :submit, class: 'right' %>
    </div>
  </div>
  
<% end %>
