<h1 class="left"><%= t('partners.label') %></h1>
<%= link_to t('partners.create'), new_partner_path, class: "button new-right" %>

<table id="partners" class="twelve">
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>

  <tbody>
    <% @partners.each do |partner| %>
    <tr>
      <td><%= link_to partner.name, edit_partner_path(partner) %></td>
    </tr>
    <% end %>
  </tbody>
</table>