<%#
The majority of The Supplejack Manager code is Crown copyright (C) 2014, New Zealand Government,
and is licensed under the GNU General Public License, version 3. Some components are
third party components that are licensed under the MIT license or otherwise publicly available.
See https://github.com/DigitalNZ/supplejack_manager for details.

Supplejack was created by DigitalNZ at the National Library of NZ and the Department of Internal Affairs.
http://digitalnz.org/supplejack
%>

<h1 class="left"><%= t('partners.label') %></h1>
<%= link_to t('partners.create'), new_partner_path, class: "button new-right #{can_show_button(:create, Partner)}" %>

<table id="partners" class="medium-12">
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>

  <tbody>
    <% @partners.each do |partner| %>
    <tr>
      <% if can? :update, Partner %>
        <td><%= link_to partner.name, edit_partner_path(partner) %></td>
      <% else %>
        <td><%= partner.name %></td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>
