<div id="all-enrichments">
  <% if harvest_schedule.parser %>
    <% if harvest_schedule.parser.enrichment_definitions(environment).any? %>

      <%= custom_fields_for :harvest_schedule do |f| %>
        <%= f.label t('parsers.enrichments_to_run'), class: 'large' %>
        <%= f.enrichment_check_boxes :enrichments, harvest_schedule.parser.enrichment_definitions(environment) %>
      <% end %>

    <% end %>
  <% end %>
</div>
