<div id="oai">
  <% if harvest_schedule.oai? %>
    <%= simple_fields_for harvest_schedule do |f| %>
      <div class="row">
        <div class="two columns">
          <%= f.label :incremental %>
        </div>
        <div class="ten columns">
          <%= f.input :incremental, as: :boolean, label: false %>
        </div>
      </div>
    <% end %>

    <div class="row">
      <div class="twelve columns"><span class="hint"><%= t("harvest_schedules.incremental_hint") %></span></div>
    </div>

    <br/>
  <% end %>
</div>