<div class="row">
  <div class="six columns push-three">
    <h3><%= t("harvest_schedules.new_env_schedule", env: params[:environment].capitalize) %></h3>

    <div id="harvest-schedule-form">
      <%= render "form" %>
    </div>
    
  </div>
</div>