<div class="row">
  <div class="seven columns push-three">
    <h2><%= t("harvest_schedules.new_env_schedule", env: params[:environment].capitalize) %></h2>

    <div id="harvest-schedule-form">
      <%= render "form" %>
    </div>
    
  </div>
</div>