<% title = @user == current_user ? 'Edit Profile' : 'Edit User' %>

<%= content_for :title do %>
  <%= title %>
<% end %>

<div class="eight columns centered">
  <h1><%= title %></h1>

  <%= render 'form' %>
</div>
