<%#  
The majority of the Supplejack code is Crown copyright (C) 2014, New Zealand Government,
and is licensed under the GNU General Public License, version 3. Some components are 
third party components licensed under the GPL or MIT licenses or otherwise publicly available. 
See https://github.com/DigitalNZ/supplejack_manager for details. 

Supplejack was created by DigitalNZ at the National Library of NZ and the Department of Internal Affairs. 
http://digitalnz.org/supplejack
%>

<h1 class="left">Users</h1>

<%= link_to "New user", new_user_path, class: "button new-right" %>

<table id="users" class="twelve">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td><%= link_to user.name, edit_user_path(user.id) %></td>
      <td><%= user.email %></td>
    </tr>
    <% end %>
  </tbody>
</table>