<%= turbo_frame_tag 'enrichment_job_modal' do %>
  <% if @enrichment_job.errors.any? %>
    <%= render 'errors' %>
  <% else %>
    <%= turbo_frame_tag(@enrichment_job, data: {
      controller: 'poll',
      'poll-url-value': "/#{@enrichment_job.environment}/enrichment_jobs/#{@enrichment_job.id}",
      'poll-refresh-interval-value': 2000
    }) do %>
      <div id='preview-area-spinner' class='spinner'>
        <%= image_tag image_path('sj-spinner.gif') %>
      </div>
    <% end %>
  <% end %>
<% end %>
