<% action = parser.allow_full_and_flush ? 'Disable' : 'Enable' %>
<button class="button expanded" data-open="full-and-flush-state-switch">
  <%= t('parsers.enable_disable_full_and_flush', action:) %>
</button>

<%= render partial: 'shared/confirmation_modal', locals: {
  information: t("parsers.#{action.downcase}_full_and_flush_confirmation", action: action.downcase),
  id: 'full-and-flush-state-switch',
  yes: button_to(
    'Yes',
    allow_flush_parser_path(id: parser),
    params: { allow: !parser.allow_full_and_flush },
    method: :put,
    class: 'button new-right',
    data: { close: '' }
  )
} %>
