<%= turbo_frame_tag :delete_parser do %>
  <% if @parser.running_jobs? %>
    <h1>Warning</h1>
    <p>
      You currently have a job running for this parser.
      You will need to stop it before being able to delete this parser.
    </p>
  <% else %>
    <h2>Delete Parser</h2>
    <p class='delete-confirmation'>
      Are you sure that you want to delete the parser:
      <strong><%= @parser.name %></strong>
      with version name:
      <strong><%= version_message(@parser, @version) %></strong>?
    </p>
    <p>
      <strong>Warning: </strong>
      If you currently have scheduled jobs set for this parser. By deleting
      this parser the scheduled jobs will be deleted as well.
    </p>
    <div>
      <%= button_to 'Delete', @parser, method: :delete, class: 'button alert right' %>
      <button data-close class='button secondary right'>Cancel</button>
    </div>
  <% end %>
<% end %>
