<div id="parsers-index">
  <h1><%= t('parsers.label') %></h1>

  <%= link_to t('parsers.create'), new_parser_path, class: "button new-right #{can_show_button(:create, Parser)}" %>

  <table id="parsers">
    <thead>
      <tr>
        <th>Harvest Name</th>
        <th>Data Format</th>
        <th>Partner</th>
        <th>Source ID</th>
        <th>Last Update</th>
        <th>Last Edited By</th>
        <th>Parser Type</th>
      </tr>
    </thead>
  </table>
</div>
