<h1>Parser configurations</h1>

<table class="twelve">
  <thead>
    <tr>
      <th>Name</th>
      <th>Strategy</th>
    </tr>
  </thead>

  <tbody>

    <% @parsers.each do |parser| %>
    <tr>
      <td><%= link_to parser.name, edit_parser_path(parser) %></td>
      <td><%= parser.strategy %></td>
    </tr>
    <% end %>
  </tbody>
</table>