<h1 class="left">Shared Modules</h1>
<%= link_to "New Shared Module", new_shared_module_path, class: "button new-right" %>

<table class="twelve">
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>

  <tbody>

    <% @shared_modules.each do |shared_module| %>
    <tr>
      <td><%= link_to shared_module.name, edit_shared_module_path(shared_module) %></td>
    </tr>
    <% end %>
  </tbody>
</table>