<%= content_for :title do %>
  <%= @link_check_rule.source.source_id %>
<% end %>

<div class="grid-x">
  <div class="medium-8 cell">
    <h1 id="link-check-rule-title"><%= @link_check_rule.source.source_id %></h1>
    <%= render 'form', url: environment_link_check_rule_path(id: @link_check_rule.id, environment: params[:environment]) %>
  </div>
</div>
