<div class="row">
  <div class="eight columns">
    <h1 id="collection-rule-title" class="left"><%= @collection_rule.source_id %></h1>
    <%= render 'form', url: environment_collection_rule_path(id: @collection_rule.id, environment: params[:environment]) %>
  </div>
</div>