<div class="row">
  <div class="eight columns centered">
    <h2 id="link-check-rule-title" class="left"><%= t('link_checker.create_a') %></h2>
    <%= render 'form', url: environment_link_check_rules_path(environment: params[:environment]) %>
  </div>
</div>