

h1, h2, h3, h4, h5, h6 {
  span {
    font-weight: normal;
  }
}

.button.new-right {
  float: right;
  margin-top: 20px;
  margin-left: 20px;
}

.reveal-modal.xxlarge {
  width: 90%;
  margin-left: -45%;
}

.margin-top {
  margin-top: 18px;
}

.no-margin-top {
  margin-top: 0;
}

ul.no-list-style {
  list-style: none;
}

ul.indented {
  margin-left: 15px;
}

form {
  span.hint {
    font-size: 12px;
    color: #6f6f6f;
  }
}

.clear {
  clear: both;
}

.align-right {
  text-align: right;
}

.small-spinner {
  background: image-url('sj-spinner.gif') no-repeat 0 0;
  width: 20px;
  height: 20px;
  display: block;
  float: right;
  margin: 10px 0 0 12px;
}
.hidden {
  display: none;
}

.new-actions {
  margin-top: 20px;

  .button {
    margin-bottom: 15px
  }
}

.button.primary {
  color: $white;
}

.ui-datepicker {
  background-color: $white;
}

select {
  -webkit-appearance: none;
}

.page-content {
  padding: 1rem 2rem;

  .subheader {
    padding-right: 2rem;
  }
}

.failed {
  font-weight: $global-weight-bold;
  color: get-color('warning');
}
