.data-tables {
  .pagination-previous a::before,
  .pagination-previous.disabled::before,
  .pagination-next a::after,
  .pagination-next.disabled::after {
    display: none;
  }

  .pagination-previous.disabled,
  .pagination-next.disabled {
    a {
      padding: 0.1875rem 0.625rem;
      color: $medium-gray;
      cursor: not-allowed;

      &:hover {
        background-color: transparent;
      }
    }
  }
}

table.dataTable thead {
  .sorting {
    background-image: url("sort_both.png");
  }
  .sorting_asc {
    background-image: url("sort_asc.png") !important;
  }
  .sorting_desc {
    background-image: url("sort_desc.png") !important;
  }
  .sorting_asc_disabled {
    background-image: url("sort_asc_disabled.png") !important;
  }
  .sorting_desc_disabled {
    background-image: url("sort_desc_disabled.png") !important;
  }
}
