
.snippets.edit {
	.button-group {
		margin-top: 20px;
	}
	#hidden-snippet-form {
		display: none;
	}
	form {
		margin: 0 0 6px;
	}
}

.edit-snippet {
  margin: 15px;
  line-height: 2;
}

#hidden-snippet-form {
  display: none;
}
.snippet-form {
  input[type="text"] {
    font-size: 1.6em;
    height: 100%;
  }
  input[type="submit"] {
    float: left;
    margin-top: 19px;
    margin-left: 20px;
  }
  .snippet_name {
    width: 70%;
    float: left;
  }
}
