/*.top-bar > ul .name h1 {
  font-size: 18px;
  padding-left: 15px;
  color: #FFF;
  margin-right: 15px !important;
}*/

.menu a {
  line-height: 1.37;
}

.nav-wrapper {
  background-color: $black;
}

.top-bar {
  background-color: $black;
  padding: 0.5rem 2rem;

  ul {
    background-color: $black;

    li {
      a {
        color: $white;
      }
    }
  }
}

.top-bar > ul .name {
  margin-right: 10px !important;

  img {
    margin-top: 0;
    width: 11.875rem;
  }

  .supplejack-logo {
    padding: 0;
  }
}

.top-bar {
  li {
    span {
      color: #fff;
      margin-right: 9px;
    }
  }
}

.is-dropdown-submenu {
  z-index: 100;
}

.menu .active > a {
  background-color: lighten($black, 10);
}
