<div class="grid-x">
	<div class="medium-9 cell">
		<h1 id="parser-template-title" class="float-left"><%= @parser_template.name %></h1>
	</div>
</div>

<%= custom_form_with model: @parser_template do |f| %>
  <%= f.text_field :content, class: "code-editor read-only" %>
<% end %>
