<div class="grid-x">
	<div class="medium-9 cell">
		<h1 id="parser-template-title" class="float-left"><%= @parser_template.name %></h1>
	</div>
</div>

<%= simple_form_for @parser_template do |f| %>
  <%= f.input :content, as: :text, label: false, input_html: {class: "code-editor read-only"} %>
<% end %>
