// gems
@import 'jquery-ui/core';
@import 'jquery-ui/theme';
@import 'jquery-ui/datepicker';
@import 'jquery-ui/slider';
@import 'jquery-datetimepicker/jquery.datetimepicker';
@import 'codemirror/lib/codemirror';
@import 'codemirror/theme/monokai';
@import 'coderay';

// foundation related
@import 'foundation/settings';
@import 'foundation/foundation_and_overrides';

// custom forms
@import 'blocks/base';
@import 'blocks/forms';
@import 'blocks/top_nav';
@import 'blocks/parsers';
@import 'blocks/harvest_jobs';
@import 'blocks/versions';
@import 'blocks/snippets';
@import 'blocks/parser_templates';
@import 'blocks/link_check_rules';
@import 'blocks/collection_statistics';
@import 'blocks/collection_records';
@import 'blocks/previews';
@import 'blocks/home';
@import 'blocks/codemirror';
@import 'blocks/devise';

.data-tables {
  .pagination-previous a::before, .pagination-previous.disabled::before,
  .pagination-next a::after, .pagination-next.disabled::after {
    display: none;
  }
}

.pagination-previous.disabled, .pagination-next.disabled {
  a {
    padding: 0.1875rem 0.625rem;
    color: $medium-gray;
    cursor: not-allowed;

    &:hover {
      background-color: transparent;
    }
  }
}
