

select {
  margin-bottom: 12px;
}

select[multiple] {
  height: 200px;
}

form {
  .checkbox, .radio {
    display: block;

    label {
      display: inline-block;
    }
  }
}

label.large {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 9px;
}

fieldset#management_permissions , fieldset#harvesting_permissions {
  padding: 3%;

  select[multiple] {
    margin-bottom: 0;
  }
}

.user_role label {
  display: inline-block;
  padding-right: 10px;
}

#management_permissions .user_manage_partners {
  margin-top: 24px;
}

#management_permissions p {
  margin-bottom: 6px;
  font-weight: 500;
  color: #272727;
}

.user_manage_partners label,
#harvesting_permissions label {
  margin-bottom: 6px;
  font-weight: 500;
  color: #272727;
  padding-bottom: 10px;
}

.pause, .resume {
  background:none!important;
  color: $primary-color;
  border:none;
  padding:0!important;
  font: inherit;
  cursor: pointer;
}

.resume {
  color: #FA5858;
}
