

#harvest-result {
  h3 {
    margin-top: 0;
    margin-bottom: 30px;
  }
}

.accordion {
  h3.error {
    margin: 0;
  }
  span.ui-accordion-header-icon {
    float: right;
  }
  table.CodeRay {
    margin: 0;
  }
  span.right {
    float: right;
  }
}

.parser-title { display: none;}

.enrichment-job-full, .harvest-job-full {
  .parser-title { display: inline;}
  table {
    clear: both;
  }

  #harvest-job {
    .button {
      margin-top: 14px;
    }
  }
}

#harvest-modal {
  .errors-count {
    display: none;
  }

}

.disabled-f-and-f {
  color: lightgrey;
}

.errors-count {
  color: $alert-color;
}

#harvest-result .error {
  background: lighten($alert-color, 52%);
  border: 1px solid $alert-color;
  color: $alert-color;
  margin-bottom: 5px;
  padding: 6px;
  font-size: 1.8rem;
}

#harvest-stats {
  margin-top: 20px;
}

#harvest-job {
  .button {
    margin-top: 0;
  }
}

.harvest_schedules.new {
  #all-enrichments {
    margin-top: 10px;
  }
}

.harvest_schedules {
  table {
    td.grey-out {
        color: #aaa;
    }
  }
}
