#harvest-result {
  h3 {
    margin-top: 0;
    margin-bottom: 30px;
  }
}

.parser-title { display: none;}

.harvest-job-full {
  .parser-title { display: inline;}

  #harvest-job {
    .button {
      margin-top: 14px;
    }
  }
}

.error {
  background: lighten($alertColor, 52%);
  border: 1px solid $alertColor;
  color: $alertColor;
  margin-bottom: 5px;
  padding: 6px;
}

#harvest-stats {
  margin-top: 20px;
}

#harvest-job {
  .button {
    margin-top: 0;
  }
}