#harvest-result {
  h3 {
    margin-top: 0;
    margin-bottom: 30px;
  }
}

#accordion {
  h3.error {
    margin: 0;
  }
  span.ui-accordion-header-icon {
    float: right; 
  }
  table.CodeRay {
    margin: 0;
  }
  span.right {
    float: right;
  }
}

.parser-title { display: none;}

.harvest-job-full {
  .parser-title { display: inline;}
  table {
    clear: both;
  }

  #harvest-job {
    .button {
      margin-top: 14px;
    }
  }
}

#harvest-modal {
  .errors-count {
    display: none;
  }
}

.error {
  background: lighten($alertColor, 52%);
  border: 1px solid $alertColor;
  color: $alertColor;
  margin-bottom: 5px;
  padding: 6px;
}

#harvest-stats {
  margin-top: 20px;
}

#harvest-job {
  .button {
    margin-top: 0;
  }
}