.home {

  .new-actions {
    margin-top: 20px;

    .button {
      margin-bottom: 15px
    }
  }

  table#server-stats {
    border: none;

    tr {
      background: none;

      &.titles td {
        color: #6f6f6f;
        padding: 0px 10px 15px 10px;

        &.hours {
          text-align: left;
        }
      }
    }

    td {
      vertical-align: middle;
      text-align: center;

      &.header {
        font-size: 27px;
        font-weight: bold;
        text-align: left;
      }

      &.stat {
        font-size: 27px;
      }


    }

  }
}