// Place all the styles related to the parsers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#preview-modal {
  padding-top: 16px;
}

.spinner {
  text-align: center;
  margin: 54px 0 40px;
}

#record-raw-data {
  display: none;
}

.CodeRay {
  clear: both;
  
  .new-right {
    margin-top: 10px;
  }
}

.new-right.dropdown {
  width: 130px;
}

.run-harvest.dropdown {
  width: 150px;
}

.run-enrichment.dropdown {
  width: 180px;
}

.preview.dropdown {
  width: 150px;
}

.preview-navigation {
  float: right;
  margin-top: 10px;
  margin-left: 10px;
}

$arrowSize: 18px;

.arrow {
  width: 0; 
  height: 0;
  display: inline-block;
  margin-left: 6px;
}

.arrow-right {
  border-top: $arrowSize solid transparent;
  border-bottom: $arrowSize solid transparent;
  border-left: $arrowSize solid $mainColor;
}

.arrow-left {
  border-top: $arrowSize solid transparent;
  border-bottom: $arrowSize solid transparent; 
  border-right: $arrowSize solid $mainColor; 

  &.disabled {
    border-right: $arrowSize solid $secondaryColor; 
  }
}
.parser_versions.show .tagging {
  display: inline-block;
  margin-bottom: 14px;
}