
// Place all the styles related to the previews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.records-preview-button {
  font-weight: bold;
}

.tabs {
  .next-previous {
    line-height: 4;
    padding: 0 1rem;
  }
}

.tabs-panel {
  max-height: 400px;
  overflow: scroll;
}

.CodeRay {
  font-size: .8rem;
  .string {
    .content {
      white-space: normal;
    }
  }
}