.top-bar > ul .name h1 {
  font-size: 18px;
  padding-left: 15px;
  color: #FFF;
  margin-right: 15px !important;
}

.top-bar {
  li {
    span {
      color: #FFF;
      margin-right: 9px;
    }
  }
}