<h2><%= @user['id'] %></h2>

<%= form_for :user, url: environment_admin_user_path(environment: params[:environment], id: @user['id']), method: :patch do |f| %>
  <input type='text' name='max_requests' value="<%= @user['max_requests'] %>" />
  <%= f.submit %>
<% end %>
