<div class="row">
  <div class="eight columns">
    <h1 id="collection-rule-title" class="left">New Collection Rule</h1>
    <%= render 'form', url: environment_collection_rules_path(environment: params[:environment]) %>
  </div>
</div>